<p><%= I18n.t('hello') %> <%= @resource.email %>!</p>

<p><%= I18n.t('someone_requested') %></p>

<p><%= link_to I18n.t('change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('if_you_did_not') %></p>
<p><%= I18n.t('password_will_not_change') %></p>
